Babel==2.5.1
CacheControl==0.12.11
cachetools==4.2.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
circuitbreaker==1.3.1
click==8.0.3
cloud-init==22.1
configobj==5.0.6
configshell-fb==1.1.28
cryptography==3.2.1
dataclasses==0.8
dbus-python==1.2.4
decorator==4.2.1
distlib==0.3.4
dnspython==1.15.0
docutils==0.14
filelock==3.4.1
firebase-admin==5.2.0
Flask==2.0.2
Flask-Cors==3.0.10
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-firestore==2.5.3
google-cloud-storage==2.0.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
gpg==1.13.1
grpcio==1.47.0
grpcio-status==1.47.0
html5lib==0.999999999
httplib2==0.20.4
idna==2.5
importlib-metadata==4.8.3
importlib-resources==5.4.0
isc==2.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
kmod==0.1
Ksplice Uptrack==1.2.79
libcomps==0.1.18
lockfile==0.11.0
lxml==4.2.3
MarkupSafe==2.0.1
msgpack==1.0.4
netaddr==0.7.19
netifaces==0.10.6
nftables==0.1
numpy==1.19.5
nvmetcli==0.7
oauthlib==2.1.0
oci==2.88.2
oci-utils==0.14.0
paho-mqtt==1.6.1
pandas==1.1.5
pbr==5.8.0
pciutils==2.3.6
perf==0.1
pexpect==4.3.1
platformdirs==2.4.0
ply==3.9
prettytable==0.7.2
proto-plus==1.22.0
protobuf==3.19.4
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.3
pycparser==2.14
pycurl==7.43.0.2
pydbus==0.6.0
PyGObject==3.28.3
PyJWT==1.6.1
pymongo==4.1.1
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyserial==3.1.1
PySocks==1.6.8
python-daemon==2.2.4
python-dateutil==2.7.5
python-linux-procfs==0.7.0
pytz==2017.2
pyudev==0.21.0
PyYAML==5.4.1
requests==2.20.0
rhnlib==2.8.6
rpm==4.14.3
rsa==4.9
scikit-learn==0.24.2
scipy==1.5.4
sdnotify==0.3.2
selinux==2.9
sepolicy==1.1
setools==4.3.0
setroubleshoot==1.1
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.3
speedtest-cli==2.1.3
stevedore==3.5.0
systemd-python==234
threadpoolctl==3.1.0
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.24.2
urwid==1.3.1
virtualenv==20.13.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
webencodings==0.5.1
Werkzeug==2.0.2
youtube-dl==2021.12.17
zipp==3.6.0
